.button {
    padding: 7px 20px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #40739e;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 100%;
    font-weight: bold;
    color: #fff;
}

/* ----------------------------- */
/* VewMessage */
/* ----------------------------- */

.message_content {
    font-size: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 5px 20px #ccc;
    margin: 30px;
    padding: 10px;
   /* background-color: #fff;*/
  }

.message_content font table {
    background-color: inherit;
}
  