TD.cal {
	FONT-SIZE: 11px;
	COLOR: #000000;
	FONT-FAMILY: Arial,Helvetica,Sans-serif;
	BACKGROUND-COLOR: #ffffff;
}
SELECT.month {
	FONT-SIZE: 11px;
	WIDTH: 85px;
	COLOR: #000000;
	FONT-FAMILY: Arial,Helvetica,Sans-serif;
}
INPUT.year {
	FONT-SIZE: 11px;
	WIDTH: 30px;
	COLOR: #000000;
	FONT-FAMILY: Arial,Helvetica,Sans-serif;
}
TD.calDaysColor {
	FONT-SIZE: 11px;
	COLOR: #ffffff;
	FONT-FAMILY: Arial,Helvetica,Sans-serif;
	BACKGROUND-COLOR: #3377aa;
}
TD.calWeekend {
	FONT-SIZE: 11px;
	COLOR: #ffffff;
	FONT-FAMILY: Arial,Helvetica,Sans-serif;
	BACKGROUND-COLOR: #99ccff;
}
TD.calBgColor {
	FONT-SIZE: 11px;
	COLOR: #ffffff;
	FONT-FAMILY: Arial,Helvetica,Sans-serif;
	BACKGROUND-COLOR: #ccdadb;
}
.calBorderColor {
	FONT-SIZE: 11px;
	COLOR: #ffffff;
	FONT-FAMILY: Arial,Helvetica,Sans-serif;
	BACKGROUND-COLOR: #10559c;
}
TD.calHighlightColor {
	FONT-SIZE: 11px;
	COLOR: #ffffff;
	FONT-FAMILY: Arial,Helvetica,Sans-serif;
	BACKGROUND-COLOR: #ffaa00;
}
A.cal {
	FONT-SIZE: 11px;
	COLOR: #000000;
	FONT-FAMILY: Arial,Helvetica,Sans-serif;
	TEXT-DECORATION: none;
}
A.cal:hover {
	FONT-SIZE: 11px;
	COLOR: #ff0000;
	FONT-FAMILY: Arial,Helvetica,Sans-serif;
	TEXT-DECORATION: none;
}
.disabled {
	FONT-SIZE: 11px;
	COLOR: #808080;
	FONT-FAMILY: Arial,Helvetica,Sans-serif;
	TEXT-DECORATION: none;
}
