BODY {
  background-color: #222222;
  font-family: Arial, Heveltica;
  font-size: 10px;
  color: #000000;
  margin: 0px;
}

.body_table {
	padding : 0px;
	border-spacing : 0px;	
	border-collapse: collapse;
	border-color : #000000;
	border-style : solid;
	border-width : 1px;
	width: 980px;
	height: 500px;
	text-align : left;
	vertical-align:top;
	background-color: #ffffff;
}

.trBrowseH {
	text-align : left;
	vertical-align:top;
	font-family: Arial, Heveltica;
  	font-size: 10px;
	font-weight: bold;
  	color: #000000;
	background-color: #d0d0d0;
}

.trBrowse {
	text-align : left;
	vertical-align:top;
	font-family: Arial, Heveltica;
  	font-size: 10px;
  	color: #000000;
	background-color: #f6f6f6;
}

.trBrowse1 {
	text-align : left;
	vertical-align:top;
	font-family: Arial, Heveltica;
  	font-size: 10px;
  	color: #000000;
	background-color: #ffffff;
}

.trMenu {
	text-align : left;
	vertical-align:middle;
	font-family: Arial, Heveltica;
  	font-size: 11px;
  	color: #000000;
	background-color: #f0f0f0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
}

.trForm {
	text-align : left;
	vertical-align:top;
	font-family: Arial, Heveltica;
  	font-size: 11px;
	font-weight: bold;
  	color: #000000;
	background-color: #ffffff;
}

.wyr {
  	color: #FF0000;
}

.wyr1 {
  	color: #198807;
}

.tabHistory {
	color: #444444;
}

.tabHistoryNew {
	color: #FF0000;
}

.Stopka {
	font-family: Arial, Heveltica;
  	font-size: 10px;
	font-weight: bold;
  	color: #666666;
}

.Small {
	font-family: Arial, Heveltica;
  	font-size: 10px;
  	color: #666666;
}

.SmallWyr {
	font-family: Arial, Heveltica;
  	font-size: 10px;
  	color: #F46A00;
}

.Norm {
	font-family: Arial, Heveltica;
  	font-size: 11px;
  	color: #666666;
}

.NormWyr {
	font-family: Arial, Heveltica;
  	font-size: 11px;
  	color: #F46A00;
}

.Big {
	font-family: Arial, Heveltica;
  	font-size: 12px;
  	color: #666666;
}

a:link {
	font-family : Arial, sans-serif;
	text-decoration: none;
	color: #990000;
	font-size: 11px;
}

a:visited {
	font-family : Arial, sans-serif;
	text-decoration: none;
	color: #990000;
	font-size: 11px;
}

a:active {
	font-family : Arial, sans-serif;
	text-decoration: none;
	color: #990000;
	font-size: 11px;
}

a:hover {
	font-family : Arial, sans-serif;
	text-decoration: none;
	color: #F46A00;
	font-size: 11px;
}

a.Menu:link {
	font-family : Arial, sans-serif;
	text-decoration: none;
	color: #990000;
	font-size: 11px;
	font-weight: bold;
}

a.Menu:visited {
	font-family : Arial, sans-serif;
	text-decoration: none;
	color: #990000;
	font-size: 11px;
	font-weight: bold;
}

a.Menu:active {
	font-family : Arial, sans-serif;
	text-decoration: none;
	color: #990000;
	font-size: 11px;
	font-weight: bold;
}

a.Menu:hover {
	font-family : Arial, sans-serif;
	text-decoration: none;
	color: #F46A00;
	font-size: 11px;
	font-weight: bold;
}

a.aBrowse:link {
	font-family : Arial, sans-serif;
	text-decoration: none;
	color: #000000;
	font-size: 10px;
}

a.aBrowse:visited {
	font-family : Arial, sans-serif;
	text-decoration: none;
	color: #000000;
	font-size: 10px;
}

a.aBrowse:active {
	font-family : Arial, sans-serif;
	text-decoration: none;
	color: #000000;
	font-size: 10px;
}

a.aBrowse:hover {
	font-family : Arial, sans-serif;
	text-decoration: none;
	color: #F46A00;
	font-size: 10px;
}

INPUT {
	font-family : Verdana;
	text-decoration: none;
	color: #000000;
	font-size: 11px;
	border-style: solid;
	border-width: 1px;
	border-color: #444444;
	background-color: #F9F9F9;
}

INPUT.Trans {
	font-family : Verdana;
	text-decoration: none;
	color: #000000;
	font-size: 11px;
	border-width: 0px;
	background-color: transparent;
}

SELECT {
	font-family : Verdana;
	text-decoration: none;
	color: #000000;
	font-size: 11px;
	border-style: solid;
	border-width: 1px;
	border-color: #444444;
	background-color: #F9F9F9;
}

TEXTAREA {
	font-family : Verdana;
	text-decoration: none;
	color: #000000;
	font-size: 11px;
	border-style: solid;
	border-width: 1px;
	border-color: #444444;
	background-color: #F9F9F9;
}